<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd">
    <servlet>
        <servlet-name>signUp</servlet-name>
        <servlet-class>com.mvc.controller.signUp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>signIn</servlet-name>
        <servlet-class>com.mvc.controller.signIn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addTransaction</servlet-name>
        <servlet-class>com.mvc.controller.addTransaction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dashboard</servlet-name>
        <servlet-class>com.mvc.controller.dashboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>billsAndPayments</servlet-name>
        <servlet-class>com.mvc.controller.billsAndPayments</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changeBillDates</servlet-name>
        <servlet-class>com.mvc.controller.changeBillDates</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>expenses</servlet-name>
        <servlet-class>com.mvc.controller.expenses</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>income</servlet-name>
        <servlet-class>com.mvc.controller.income</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>myProfile</servlet-name>
        <servlet-class>com.mvc.controller.myProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>saveDetails</servlet-name>
        <servlet-class>com.mvc.controller.saveDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>filterTransactions</servlet-name>
        <servlet-class>com.mvc.controller.filterTransactions</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>com.mvc.controller.logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteTransaction</servlet-name>
        <servlet-class>com.mvc.controller.deleteTransaction</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>signUp</servlet-name>
        <url-pattern>/signUp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>signIn</servlet-name>
        <url-pattern>/signIn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addTransaction</servlet-name>
        <url-pattern>/addTransaction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dashboard</servlet-name>
        <url-pattern>/dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>billsAndPayments</servlet-name>
        <url-pattern>/billsAndPayments</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changeBillDates</servlet-name>
        <url-pattern>/changeBillDates</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>expenses</servlet-name>
        <url-pattern>/expenses</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>income</servlet-name>
        <url-pattern>/income</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>myProfile</servlet-name>
        <url-pattern>/myProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>saveDetails</servlet-name>
        <url-pattern>/saveDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>filterTransactions</servlet-name>
        <url-pattern>/filterTransactions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteTransaction</servlet-name>
        <url-pattern>/deleteTransaction</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
